@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3F4F6;
}

body::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

body::-webkit-scrollbar-thumb {
  background: #328fc9;
}

body::-webkit-scrollbar-thumb:hover {
  background: #046bad;
  cursor: pointer;
}